<h3>Sign up for newsletter</h3>

<form action="/newsletter" method="POST">

  <label for="email"><b>Email</b></label>
  <input type="text" placeholder="Enter email" name="email">

  <label for="firstName"><b>First Name</b></label>
  <input type="text" placeholder="Enter first name" name="firstName">

  <label for="lastName"><b>Last name</b></label>
  <input type="text" placeholder="Enter last name" name="lastName">

  <input type="submit" value="Sign up" class="btn">

</form>